/*
Google Fonts Import
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
CSS Variables
*/
:root {
    /* Colors */
    /* Black (000) */
    --color-black-000: #000;
    /* Black (111) */
    --color-black-111: #111;
    /* Black (222) */
    --color-black-222: #222;
    /* Rojo (red) */
    --color-rojo-red: #FF3131;
    /* Gold (yellow) */
    --color-gold-yellow: #FFD700;
    /* Celeste (blue) */
    --color-celeste-blue: #A8F9FF;
    /* (green) */
    --color-green: #00FF00;
    /* Papaya Whip (off white) */
    --color-papayawhip-offwhite: #FFF1D0;
    /* White Smoke (white) */
    --color-whitesmoke-white: #F2F4F3;

    /* Fonts */
    --font-poppins: "Poppins", sans-serif;

}

/* 
Global Styles 
*/

body {
    font-family: var(--font-poppins);
    background-color: var(--color-papayawhip-offwhite);
    /* background-color: var(--color-whitesmoke-white); */
    /* TODO: Add padding-top to keep footer at the bottom */
    padding-top: 11rem;
}

::selection {
    background-color: var(--color-celeste-blue);
}

::-moz-selection {
    background-color: var(--color-celeste-blue);
}

/* Buttons */

.btn-bg {
    background-color: var(--color-rojo-red);
    color: var(--color-black-222);
    /* font-weight: 500; */
}

.btn-bg:hover {
    background-color: var(--color-gold-yellow);
    color: var(--color-rojo-red);
}

.nav-item .btn-outline {
    border: 2px solid var(--color-rojo-red);
    color: var(--color-rojo-red);
    /* font-weight: 500; */
}

.nav-item .btn-outline:hover {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.nav-item .btn-outline:active {
    background-color: var(--color-green);
    color: var(--color-black-222);
}

/* Utilities */

.section {
    padding: 6rem 0;
}

.span-red {
    color: var(--color-rojo-red);
}

/* 
Navbar 
*/

nav {
    background-color: var(--color-black-111);
    opacity: 90%;
}

.navbar-nav .nav-item,
.dropdown-menu .dropdown-item,
.navbar-nav .nav-item .btn {
    font-size: 1.25rem;
}

/* Navbar Logo */
nav .logo-nav {
    width: 7rem;
}

nav .navbar-brand p {
    margin-top: -1.25rem;
    color: var(--color-papayawhip-offwhite);
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: var(--color-papayawhip-offwhite);
}

.navbar-nav .nav-link:hover {
    color: var(--color-gold-yellow);
}

.navbar-nav .nav-link:active,
.active {
    color: var(--color-celeste-blue);
}

.nav-link.active {
    --bs-navbar-active-color: var(--color-celeste-blue);
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: var(--color-black-222);
}

.dropdown-menu .dropdown-item {
    color: var(--color-papayawhip-offwhite);
}

.dropdown-menu .dropdown-item:hover {
    color: var(--color-gold-yellow);
    background-color: var(--color-black-222);
}

.dropdown-menu .dropdown-item:active {
    color: var(--color-celeste-blue);
    background-color: var(--color-black-222);
}

.dropdown-divider {
    border-color: var(--color-celeste-blue);
}